<footer class="footer">
  <div class="container">

    <div class="footer-top">

      <!-- CATEGORIES -->
      <div class="footer-list">
        <h3 class="footer-list-title">Categories</h3>

        <ul>
          <li><a href="#" class="footer-link hover-2">Business</a></li>
          <li><a href="#" class="footer-link hover-2">Lifestyle</a></li>
          <li><a href="#" class="footer-link hover-2">Travel</a></li>
          <li><a href="#" class="footer-link hover-2">Technology</a></li>
          <li><a href="#" class="footer-link hover-2">Health</a></li>
          <li><a href="#" class="footer-link hover-2">Food</a></li>
          <li><a href="#" class="footer-link hover-2">Education</a></li>
          <li><a href="#" class="footer-link hover-2">Nature</a></li>
        </ul>
      </div>

      <!-- NEWSLETTER -->
      <div class="footer-list">

        <h3 class="footer-list-title">Newsletter</h3>

        <p class="footer-text">
          Sign up to receive the latest stories, case studies, and industry news.
        </p>

        <div class="input-wrapper">
          <input type="text" placeholder="Your name" class="input-field" autocomplete="off">
          <ion-icon name="person-outline"></ion-icon>
        </div>

        <div class="input-wrapper">
          <input type="email" placeholder="Email address" class="input-field" autocomplete="off">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <a href="#" class="btn btn-primary">
          <span class="span">Subscribe</span>
          <ion-icon name="arrow-forward"></ion-icon>
        </a>

      </div>

    </div>

    <!-- BOTTOM -->
    <div class="footer-bottom">

      <p class="copyright">
        &copy; <span>2026</span> Developed by
        <a href="#" class="copyright-link">Prajwal</a>
      </p>

      <ul class="social-list">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
            <span>Twitter</span>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
            <span>LinkedIn</span>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
            <span>Instagram</span>
          </a>
        </li>

      </ul>

    </div>

  </div>
</footer>