 <footer>
    <div class="container">

      <div class="card footer">

        <div class="section footer-top">

          <div class="footer-brand">

            <a href="#" class="logo">
              <img src="../assets/images/logo.svg" width="119" height="37" loading="lazy" alt="Wren logo">
            </a>

            <p class="footer-text" id="contact">
              Never stop learning and growing. Every experience adds depth, shaping who you become and turning challenges into wisdom as you evolve toward your fullest potential. Growth never truly ends—it only deepens with time.
            </p>

            <p class="footer-list-title">Address</p>

            <address class="footer-text address">
              Prajwal Kapileshwari <br>
              Karnataka - 580032 <br>
              India (Bharat)
            </address>

          </div>

          <div class="footer-list">

            <p class="footer-list-title">Categories</p>

            <ul>

                  <li>
                    <a href="#" class="footer-link hover-2">Business</a>
                  </li>
                
                  <li>
                    <a href="#" class="footer-link hover-2">Lifestyle</a>
                  </li>
                
                  <li>
                    <a href="#" class="footer-link hover-2">Travel</a>
                  </li>
                
                  <li>
                    <a href="#" class="footer-link hover-2">Technology</a>
                  </li>
                
                  <li>
                    <a href="#" class="footer-link hover-2">Health</a>
                  </li>
                
                  <li>
                    <a href="#" class="footer-link hover-2">Food</a>
                  </li>
                
                  <li>
                    <a href="#" class="footer-link hover-2">Education</a>
                  </li>
                
                  <li>
                    <a href="#" class="footer-link hover-2">Nature</a>
                  </li>
                
          </ul>

          </div>

          <div class="footer-list">

            <p class="footer-list-title" id="newsletter">Newsletter</p>

            <p class="footer-text">
              Sign up to be first to receive the latest stories inspiring us, case studies, and industry news.
            </p>

            <div class="input-wrapper">
              <input type="text" name="name" placeholder="Your name" required class="input-field" autocomplete="off">

              <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
            </div>

            <div class="input-wrapper">
              <input type="email" name="email_address" placeholder="Emaill address" required class="input-field"
                autocomplete="off">

              <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
            </div>

            <a href="#" class="btn btn-primary">
              <span class="span">Subscribe</span>

              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>

          </div>

        </div>

        <div class="footer-bottom">

          <p class="copyright">
            &copy; Developed by Prajwal K.
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>

                <span class="span">Twitter</span>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>

                <span class="span">LinkedIn</span>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>

                <span class="span">Instagram</span>
              </a>
            </li>

          </ul>

        </div>

      </div>

    </div>
  </footer>