<div class="card aside-card" id="recent-posts">

  <h2 class="aside-title headline headline-2">
    <span class="span">Popular Posts</span>
  </h2>

  <ul class="popular-list">
                
                
    <li>
      <div class="popular-card">

        <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
          <img src="./assets/images/art-crown-and-the-coin.png" width="64" height="64" loading="lazy"
            alt="The Unseen Crown and the Quiet Wisdom of a Coin" class="img-cover">
        </figure>

        <div class="card-content">

          <h4 class="headline headline-4 card-title">
            <a href="./articles/the-unseen-crown-and-the-coin.html" class="link hover-2">The Unseen Crown and the Quiet Wisdom of a Coin</a>
          </h4>

          <div class="warpper">
            <p class="card-subtitle">12 July 2023 · 15 mins read</p>
          </div>

        </div>

      </div>
    </li>

    <li>
      <div class="popular-card">

        <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
          <img src="./assets/images/art-time-conversation.png" width="64" height="64" loading="lazy"
            alt="The 8-Year-Old You and the 80-Year-Old You" class="img-cover">
        </figure>

        <div class="card-content">

          <h4 class="headline headline-4 card-title">
            <a href="./articles/eight-vs-eighty.html" class="link hover-2">The 8-Year-Old You and the 80-Year-Old You</a>
          </h4>

          <div class="warpper">
            <p class="card-subtitle">17 June 2023 · 15 mins read</p>

          </div>

        </div>

      </div>
    </li>

    <li>
      <div class="popular-card">

        <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
          <img src="./assets/images/art-water-flow.png" width="64" height="64" loading="lazy"
            alt="Way of the Water—Go with the Flow" class="img-cover">
        </figure>

        <div class="card-content">

          <h4 class="headline headline-4 card-title">
            <a href="./articles/the-way-of-the-water.html" class="link hover-2">Way of the Water—Go with the Flow</a>
          </h4>

          <div class="warpper">
            <p class="card-subtitle">21 August 2023 · 15 mins read</p>

            
          </div>

        </div>

      </div>
    </li>

    <li>
      <div class="popular-card">
          <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
          
            <img src="./assets/images/art-creation.png"
                width="64"
                height="64"
                loading="lazy"
                alt="Creation: A Borrowed Privilege, a Quiet Gift"
                class="img-cover">
              
          </figure>
          <div class="card-content">

          <h4 class="headline headline-4 card-title">
            <a href="./articles/creating-is-a-privilege.html" class="link hover-2">Creation: A Borrowed Privilege, a Quiet Gift</a>
          </h4>
        
          <div class="warpper">
            <p class="card-subtitle">15 April 2023 · 15 mins read</p>
            
          </div>

        </div>

      </div>
    </li>

    <li>
      <div class="popular-card">

        <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
          <img src="./assets/images/art-uniqueness-and-perfection.png" width="64" height="64" loading="lazy"
            alt="Why Being Unique Matters More Than Being Perfect" class="img-cover">
        </figure>

        <div class="card-content">

          <h4 class="headline headline-4 card-title">
            <a href="./articles/uniqueness-and-perfection.html" class="link hover-2">Why Being Unique Matters More Than Being Perfect</a>
          </h4>

          <div class="warpper">
            <p class="card-subtitle">10 September 2023 · 15 mins read</p>
          
          </div>

        </div>

      </div>
    </li>

  </ul>

</div>