<div class="card aside-card" id="recent-posts">

  <h2 class="aside-title headline headline-2">
    <span class="span">Popular Posts</span>
  </h2>

  <ul class="popular-list">

    <li>
      <div class="popular-card">
          <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
          
            <img src="../assets/images/popular-post-1.jpg"
                width="64"
                height="64"
                loading="lazy"
                alt="Creating is a privilege but it’s also a gift"
                class="img-cover">
              
          </figure>
          <div class="card-content">

          <h4 class="headline headline-4 card-title">
            <a href="articles/article-creating-is-a-privilege.html" class="link hover-2">Creating is a privilege but it’s also a gift</a>
          </h4>
        
          <div class="warpper">
            <p class="card-subtitle">10 mins read</p>

            <time class="publish-date" datetime="2023-04-15">15 April 2023</time>
          </div>

        </div>

      </div>
    </li>

    <li>
      <div class="popular-card">

        <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
          <img src="../assets/images/popular-post-2.jpg" width="64" height="64" loading="lazy"
            alt="Being unique is better than being perfect" class="img-cover">
        </figure>

        <div class="card-content">

          <h4 class="headline headline-4 card-title">
            <a href="#" class="link hover-2">Being unique is better than being perfect</a>
          </h4>

          <div class="warpper">
            <p class="card-subtitle">15 mins read</p>

            <time class="publish-date" datetime="2023-04-15">15 April 2023</time>
          </div>

        </div>

      </div>
    </li>

    <li>
      <div class="popular-card">

        <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
          <img src="../assets/images/popular-post-3.jpg" width="64" height="64" loading="lazy"
            alt="Every day, in every city and town across the country" class="img-cover">
        </figure>

        <div class="card-content">

          <h4 class="headline headline-4 card-title">
            <a href="#" class="link hover-2">Every day, in every city and town across the country</a>
          </h4>

          <div class="warpper">
            <p class="card-subtitle">15 mins read</p>

            <time class="publish-date" datetime="2023-04-15">15 April 2023</time>
          </div>

        </div>

      </div>
    </li>

    <li>
      <div class="popular-card">

        <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
          <img src="../assets/images/popular-post-4.jpg" width="64" height="64" loading="lazy"
            alt="Your voice, your mind, your story, your vision" class="img-cover">
        </figure>

        <div class="card-content">

          <h4 class="headline headline-4 card-title">
            <a href="#" class="link hover-2">Your voice, your mind, your story, your vision</a>
          </h4>

          <div class="warpper">
            <p class="card-subtitle">15 mins read</p>

            <time class="publish-date" datetime="2023-04-15">15 April 2023</time>
          </div>

        </div>

      </div>
    </li>

    <li>
      <div class="popular-card">

        <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
          <img src="../assets/images/popular-post-2.jpg" width="64" height="64" loading="lazy"
            alt="Being unique is better than being perfect" class="img-cover">
        </figure>

        <div class="card-content">

          <h4 class="headline headline-4 card-title">
            <a href="#" class="link hover-2">Being unique is better than being perfect</a>
          </h4>

          <div class="warpper">
            <p class="card-subtitle">15 mins read</p>

            <time class="publish-date" datetime="2023-04-15">15 April 2023</time>
          </div>

        </div>

      </div>
    </li>

  </ul>

</div>