<div class="card aside-card">

  <h2 class="aside-title headline headline-2">
    <span class="span">Popular Posts</span>
  </h2>

  <ul class="popular-list">

    <li>
      <div class="popular-card">
        <figure class="card-banner img-holder" style="--width:64; --height:64;">
          <img src="../assets/images/popular-post-1.jpg" class="img-cover" alt="">
        </figure>

        <div class="card-content">
          <a href="#" class="headline headline-4 hover-2">
            Creating is a privilege
          </a>
          <div class="card-wrapper">
            <span>15 min read</span>
            <span>•</span>
            <span>2023</span>
          </div>
        </div>
      </div>
    </li>

    <!-- Add more posts here -->

  </ul>

</div>